nav{
    width: 100%;
    background:rgb(0,0,0,0.7);
    height: 90px;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
}
ul{
    display:flex;
    align-items: center;
    justify-content:center;

}
li{
    list-style-type: none;
    padding-top: 30px;
}
a{
    margin:10px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    
}
@media screen and (max-width:320px){
    a{
       margin: 5px;
    }
  }
.btn{
    color:blue
}
